/* Reset default browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styling */
header {
  background-color: #201073;
  padding: 10px 0;
  position: sticky;
  z-index: 9999;
  top: 0;
}

/* Container flex layout */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 107px;
}
.right-side {
  display: flex;
  gap: 80px;
}
/* Logo image */
.site-logo img {
  filter: brightness(0) invert(1);
  height: 90px;
  width: auto;
}

/* Navigation menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-menu li a {
  text-decoration: none;
  color: #f8fafc;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #1ced2d;
}

/* ------- Home Section --------*/
.social-menu {
  position: absolute;
  top: 40%;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  color: white;
  width: 50px;
  height: 50px;
  font-weight: 600;
  border-radius: 50px;
  overflow: hidden;
  transition: width 0.4s;
  padding-left: 15px;
  text-decoration: none;
}

.social-menu a i {
  font-size: 20px;
}

.social-menu a span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.social-menu a:hover {
  width: 120px;
}

.social-menu a:hover span {
  opacity: 1;
}

.social-menu a:nth-child(1) {
  background: #171515;
}

.social-menu a:nth-child(2) {
  background: #0077b5;
}

.social-menu a:nth-child(3) {
  background: #e1306c;
}
.social-menu a:nth-child(4) {
  background: #1877f2;
}

.home-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 133px;
}
.profile img {
  height: 400px;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.intro {
  padding-top: 43px;
  font-size: 28px;
  font-weight: 800;
  color: rgb(169 96 244);
}
/* highlighted text eith animation  */
.text-highlight {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #efd8a8;
  vertical-align: middle;
  color: #efd8a8;
  font-weight: bold;
  animation: typing 3s steps(23) infinite, blink-caret 0.5s step-end infinite;
  width: 0;
}

@keyframes typing {
  to {
    width: 23ch;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.download-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f75809;
  color: #f8fafc;
  border: none;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease;
  gap: 10px;
  top: 80px;
  left: 100px;
}

.download-btn .icon {
  opacity: 0;
  font-size: 18px;
  transition: opacity 0.3s ease;
}

.download-btn:hover .text {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.download-btn:hover .icon {
  opacity: 1;
}

.home-section {
  background-image: url("./media/bg1.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

/* about Section  */

.about-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
.about-img {
  width: 180px;
  height: 300px;
  overflow: hidden;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
.about-section {
  padding: 129px 181px;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-container {
  max-width: 800px;
  margin: auto;
}

.section-title {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: underline;
  position: relative;
  top: -114px;
  margin-bottom: 30px;
  color: #efd8a8;
}

/* Description */
.about-description {
  font-size: 1.1rem;
  line-height: 1.8;

  padding: 20px;
  margin-bottom: 10px;
}

/* Hide checkbox */
#check {
  display: none;
}

/* More content toggle */
.more-content {
  display: none;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  line-height: 1.8;
}

#check:checked ~ .more-content {
  display: block;
}

#check:checked ~ .read-button {
  display: none;
}

/*---------------- Read More/Read Less Buttons ------------*/
.read-button {
  display: inline-block;
  background-color: #f75809;
  color: #f8fafc;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.read-button:hover {
  background-color: #e91a1a;
}

/* ------skills section -------------- */

.skills-section {
  padding: 100px 200px;
  background-color: #0f172a;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  max-width: 600px;
  margin: 0 auto;
}

.skill {
  display: flex;
  align-items: center;
  gap: 20px;
}

.skill img {
  width: 50px;
  height: 50px;
}

.skill-content {
  flex: 1;
}

.skill-content p {
  margin: 0 0 8px;
  font-weight: bold;
  color: white;
}

.bar {
  width: 100%;
  height: 30px;
  background: rgb(215, 193, 237);
  border-radius: 21px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #9d13ed;
  border-radius: 21px;
  position: relative;
}
.progress span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* ------------------certifications section----------------- */

.certifications-section {
  padding: 100px 80px;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.section-title-skill {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.certification-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin: 15px 0 10px;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.95rem;
  color: #d1d5db;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #f75809;
  color: #fff;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #e91a1a;
}
/* ---------------projects ------------ */
.projects-section {
  padding: 100px 200px;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Segoe UI", sans-serif;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.project-card h3 {
  font-size: 1.2rem;
  color: #f75809;
}

.project-card p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.project-links a {
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 8px 16px;
  background-color: #f75809;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-decoration: none;
}

.project-links a:hover {
  background-color: #e91a1a;
}

/* ---------------Contact Section -------------- */
.contact-section {
  padding: 100px 200px;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Segoe UI", sans-serif;
}

.contact-container {
  max-width: 600px;
  margin: auto;
  background-color: #1e293b;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #334155;
  color: #f8fafc;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #cbd5e1;
}

.submit-btn {
  background-color: #f75809;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #e91a1a;
}
/* ----------footer------------------ */
footer.footer {
  background-color: #0f172a;
  color: #f8fafc;
  padding: 30px 0;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.footer-container {
  max-width: 800px;
  margin: auto;
}

.footer-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-btn {
  background-color: #f75809;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.footer-btn:hover {
  background-color: #e91a1a;
  transform: scale(1.05);
}
.container {
  padding: 0 5%;
}
/* ----------------Responsive design with media query------ */
/* for iPad mini */
@media screen and (max-width: 768px) {
  nav ul {
    align-items: center;
  }
  .home-container {
    flex-direction: column;
    align-items: center;
  }
  .intro {
    font-size: 20px;
  }

  .download-btn {
    top: 483px;
  }
  .about-description {
    text-align: center;
  }
  .about-flex {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .about-description {
    max-width: 90%;
    line-height: 1.6;
  }
  .certification-cards {
    flex-direction: column;
    align-items: center;
  }
}

/* ----------for Samsung Galaxy S8+-------------- */

@media screen and (max-width: 400px) {
  .about-section {
    padding: 40px 20px;
    text-align: center;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-flex {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .about-description {
    font-size: 1rem;
    max-width: 90%;
    line-height: 1.6;
    margin-top: 20px;
    word-break: break-word;
  }

  .profile img {
    width: 220px;
    height: auto;
    margin-bottom: 15px;
  }

  .section-title {
    font-size: 28px;
    top: 0;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
  }
  .social-menu {
    flex-direction: row;
    left: 40px;
  }
  .download-btn {
    top: 290px;
  }

  .skills-section {
    padding: 40px 20px;
  }
  .contact-section {
    padding: 182px;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    max-width: 50px;
  }
}
